---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import {
	Navigation,
	Strip,
	Col,
	Button,
	List,
} from "@canonical/react-components";
---

<Layout title="UbuCon Korea 2023">
	<main>
		<Navigation
			items={[]}
			itemsRight={[
				{
					label: "ubuntu-kr.org",
					url: "https://ubuntu-kr.org",
				},
			]}
			logo={{
				src: "/UbuntuKrCircleWhite.svg",
				title: "UbuCon Korea 2023",
				url: "#",
			}}
			theme="dark"
		/>
		<Strip type="suru" element="section" includeCol={false}>
			<Col size={8}>
				<h1><b>UbuCon Korea 2023</b></h1>
				<h1>2023년 9월 9일</h1>
				<h1>한국마이크로소프트*</h1>
				<p>*거의 확정 되었으나, 변동될 수 있음.</p>
			</Col>
			<Col size={4}>
				<img src="/logo.svg" alt="Placeholder" />
			</Col>
		</Strip>
		<Strip bordered element="section" includeCol={false}>
			<section class="p-section">
				<div class="p-block">
					<div class="row">
						<hr class="p-rule" />
					</div>
					<div class="row--50-50">
						<div class="col">
							<h2>
								작년 UbuCon Asia에 이어, 올해는 UbuCon Korea가
								열립니다.
							</h2>
						</div>
						<div class="col">
							<p>
								작년에 이어 서울에서 오는 가을에 열립니다.
								자세한 사항은 곧 이 웹사이트에 업데이트 됩니다.
								포럼에 로그인 후 알림 설정을 하시면, 업데이트를
								받으실 수 있습니다.
							</p>
							<Button
								appearance=""
								element={"a"}
								href="https://discourse.ubuntu-kr.org"
							>
								우분투한국커뮤니티 포럼 방문
							</Button>
						</div>
					</div>
				</div>
				<div class="p-block">
					<div class="row">
						<hr class="p-rule" />
					</div>
					<div class="row--50-50">
						<div class="col">
							<h2>후원사 등록 안내 받기</h2>
						</div>
						<div class="col">
							<p>
								행사 후원에 관심이 있으시다면, 이메일을 통해
								알려주세요. 후원사 프로그램 정보가 나오면 먼저
								알려드리겠습니다.
							</p>
							<Button
								appearance=""
								element={"a"}
								href="mailto:sponsorship@ubuntu-kr.org"
							>
								후원사 등록 안내 요청하기
							</Button>
						</div>
					</div>
				</div>
			</section>
		</Strip>
		<footer class="l-footer--sticky p-strip--light">
			<nav class="row" aria-label="Footer">
				<div class="has-cookie">
					<p>
						© 2023 우분투한국커뮤니티. 우분투(Ubuntu) 및
						캐노니컬(Canonical)은 Canonical Ltd.의 등록 상표입니다.
					</p>
					<ul class="p-inline-list--middot">
						<li class="p-inline-list__item">
							<a href="https://disclosures.ubuntu-kr.org/legal/">정관 및 세칙</a>
						</li>
						<li class="p-inline-list__item">
							<a href="https://fb.com/ubuntukorea">Facebook</a>
						</li>
						<li class="p-inline-list__item">
							<a href="https://twitter.com/UbuntuKrOrg">Twitter</a>
						</li>
						<li class="p-inline-list__item">
							<a href="https://www.linkedin.com/company/ubuntu-kr/">LinkedIn</a>
						</li>
						<li class="p-inline-list__item">
							<a href="https://mastodon.social/@UbuntuKrOrg">Mastodon</a>
						</li>
						<li class="p-inline-list__item">
							<a href="https://staging.bsky.app/profile/ubuntu-kr.org">Bluesky</a>
						</li>
						<li class="p-inline-list__item">
							<a href="https://github.com/ubuntu-kr/ubucon-kr-2023/issues/new/choose">웹사이트에 대한 버그 보고</a>
						</li>
					</ul>
				</div>
			</nav>
		</footer>
	</main>

	<style></style>
</Layout>
