---
---
<meta charset="utf-8">

<meta property="og:title" content="티켓 구입하기">
<meta property="og:site_name" content="UbuCon Korea 2023" >
<meta property="og:url" content="">
<meta property="og:description" content="9월 9일 오전 8시까지 구입 가능">
<meta property="og:type" content="">
<meta property="og:image" content="https://2023.ubuntu-kr.org/tickets.png">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@UbuntuKrOrg">
<meta name="twitter:title" content="UbuCon Korea 2023 티켓 구입하기">
<meta name="twitter:description" content="9월 9일 오전 8시까지 구입 가능">
<meta name="twitter:image" content="https://2023.ubuntu-kr.org/tickets.png">

<body>
    <p>Javascript 가 비활성화 된 경우, 리다이렉트 되지 않을 수 있습니다. <a href="https://event-us.kr/ubuntukr/event/65995">여기를 클릭하여 직접 리다이렉트 할 수 있습니다.</a></p>
    <p>Page won't redirect if Javescript is disabled. <a href="https://event-us.kr/ubuntukr/event/65995">In that case, Click here to redirect manually.</a></p>
</body>

<script is:inline>
    //redirect
    window.location = "https://event-us.kr/ubuntukr/event/65995" 
</script>