---
---
<meta charset="utf-8">

<meta property="og:title" content="다시보기 얼리액세스">
<meta property="og:site_name" content="UbuCon Korea 2023" >
<meta property="og:url" content="">
<meta property="og:description" content="인프런에서 발표 영상 구매 및 시청">
<meta property="og:type" content="">
<meta property="og:image" content="https://2023.ubuntu-kr.org/tickets.png">

<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@UbuntuKrOrg">
<meta name="twitter:title" content="UbuCon Korea 2023 다시보기 얼리액세스">
<meta name="twitter:description" content="인프런에서 발표 영상 구매 및 시청">
<meta name="twitter:image" content="https://2023.ubuntu-kr.org/tickets.png">

<body>
    <p>Javascript 가 비활성화 된 경우, 리다이렉트 되지 않을 수 있습니다. <a href="https://www.inflearn.com/course/ubucon-korea-2023-%EB%8B%A4%EC%8B%9C%EB%B3%B4%EA%B8%B0">여기를 클릭하여 직접 리다이렉트 할 수 있습니다.</a></p>
    <p>Page won't redirect if Javescript is disabled. <a href="https://www.inflearn.com/course/ubucon-korea-2023-%EB%8B%A4%EC%8B%9C%EB%B3%B4%EA%B8%B0">In that case, Click here to redirect manually.</a></p>
</body>

<script is:inline>
    //redirect
    window.location = "https://www.inflearn.com/course/ubucon-korea-2023-%EB%8B%A4%EC%8B%9C%EB%B3%B4%EA%B8%B0" 
</script>