---
import {
	Navigation,
	Strip,
	Col,
	Button,
	List,
} from "@canonical/react-components";
import { getCollection, getEntry } from "astro:content";
// import { getLangFromUrl, useTranslations } from "../../i18n/utils";
// const lang = getLangFromUrl(Astro.url);
// const t = useTranslations(lang);
// export function getStaticPaths() {
// 	return [{ params: { lang: "en" } }, { params: { lang: "ko" } }];
// }

const sponsors = await getCollection("sponsors");

const sponsorClassList = [
	"Diamond",
	"Venue",
	"Gold",
	"Silver",
	"Bronze",
	"Supporter",
];
---
<Strip type="light">
	<div class="u-fixed-width">
		<div class="p-logo-section">
			{
				sponsorClassList.map((className) => (
					<>
						<p class="p-logo-section__title">{className}</p>
						<div class="p-logo-section__items">
							{sponsors
								.filter(
									(sponsor) =>
										sponsor.data.class === className
								)
								.map((sponsor) => {
									const [lang, ...slug] = sponsor.slug.split('/');
									return (
									<div class="p-logo-section__item">
										<a href={`sponsors/${slug}`}>
											<img
												class="p-logo-section__logo"
												src={sponsor.data.logo}
												alt="Verizon"
											/>
										</a>
									</div>
								)})}
						</div>
					</>
				))
			}
		</div>
	</div>
</Strip>