---
import Layout from "../../layouts/Layout.astro";
import {
	Navigation,
	Strip,
	Col,
	Button,
	List,
} from "@canonical/react-components";
import DiscourseNoticeBanner from "../../components/DiscourseNoticeBanner.jsx";
import { getLangFromUrl, useTranslations } from "../../i18n/utils";
const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
export function getStaticPaths() {
	return [{ params: { lang: "en" } }, { params: { lang: "ko" } }];
}
---

<Layout title="UbuCon Korea 2023">
	<Strip type="suru" element="section" includeCol={false}>
		<Col size={8}>
			<h1><b>UbuCon Korea 2023</b></h1>
			<h1>{t("eventMeta.theme")}</h1>
			<h1>{t("eventMeta.date")}</h1>
			<h1>{t("eventMeta.venue")}</h1>
		</Col>
		<Col size={4}>
			<img src="/logo.svg" alt="Placeholder" />
		</Col>
	</Strip>
	<DiscourseNoticeBanner
		baseUrl="https://discourse.ubuntu-kr.org"
		jsonFeedEndpoint="/c/notice/9.json"
		topicTag="ubucon-korea"
		client:only="react"
	/>
	<Strip bordered element="section" includeCol={false}>
		<section class="p-section">
			<div class="p-block">
				<div class="row">
					<hr class="p-rule" />
				</div>
				<div class="row--50-50">
					<div class="col">
						<h2>
							{t("intro.uca23")}
						</h2>
					</div>
					<div class="col">
						<p>
							{t("intro.uca23desc")}
						</p>
						<Button
							appearance=""
							element={"a"}
							href="https://discourse.ubuntu-kr.org"
						>
							{t("intro.visitForum")}
						</Button>
					</div>
				</div>
			</div>
			<div class="p-block">
				<div class="row">
					<hr class="p-rule" />
				</div>
				<div class="row--50-50">
					<div class="col">
						<h2>{t("sponsorship.tagline")}</h2>
					</div>
					<div class="col">
						<p>
							{t("sponsorship.desc")}
						</p>
						<Button appearance="" element={"a"} href="sponsor">
							{t("sponsorship.details")}
						</Button>
					</div>
				</div>
			</div>
		</section>
	</Strip>

	<style></style>
</Layout>
